{% extends "dream/base.html" %}
{% block content %}

このアプリを使ってくださり、ありがとうございます！
私は現在京都大学工学部生で、このアプリを作ろうと思ったのが、一回生の秋でした。そこから、かなり時間が経ってしまいましたが、何とかリリースするまでに至りました。

KUBBはKyoto University Bulletin Boardの略で、Bulletin Boardとは掲示板やメッセージボードという意味です。京大生同士がオンライン上で好きに話し合ったり、起業など人が必要な時に簡単に募集出来るような場を作りたかったので、この名前にしました。
以下に各ページの紹介をさせていただきます。
"Preference"は、自分の好きなことや趣味を話し合ったりするためのページです。サークルには参加していないが、個人的に好きなことや、マニアックな趣味だったりを自由に発言してほしいなと思います。
"Agenda"は、日本や世界が抱える課題を話し合ったりするためのページです。研究や卒業後のキャリアで、日本や世界を支えていくであろう京大生が、ある議題に対して、お互いどんなことを思っているのかを知る場があったらいいなと思ったので、作りました。自由に発言していただけると嬉しいです。
"Recruitment"は、京大生を募集するためのページです。起業やその他にも人手が足りないときに、簡単に人を集められる場があれば、京大というコミュニティがより活性化するのではないかと思ったので、作りました。

このアプリを利用することで、少しでもお役に立てれば、いいなという思いで作りました。

ただ、リリースしたからと言って、このアプリはまだ未完成です。というのも、開発をしていると次々と作りたい機能が出てきてしまったので、一旦リリースをして、使っていただき、フィードバックをもらい、その点を変更していくことで、より洗練されたアプリが作れるのではないかと思ったからです。
このアプリは機能的にもデザイン的にも未完成です。
「こんな機能を追加してほしい」、「ここの仕様を変えてほしい」という箇所があったら、ぜひ下の連絡先までお願いします。

改めて、このアプリを使ってくださり、本当にありがとうございます。

2023/10/07 サイト開発者

{% endblock %}