
{% extends "dream/base.html" %}
{% block content %}
<div class='container'>
  <div class='row'>
    <div class='mt-5 mb-4 col-sm-12 col-md-6 mx-auto'>
      <h1>パスワードリセット</h1>

      {% if user.is_authenticated %}
      {% include 'account/snippets/already_logged_in.html' %}
      {% endif %}

      <p>登録済みのメールアドレスを入力してください</p>
      <form method="POST" action="/accounts/password/reset/" class="password_reset">{% csrf_token %}
        <input type="hidden" name="csrfmiddlewaretoken" value="YOCixhKwdK6CPTW16kpDqvcxRGtfbKbTdHc3USUac3PUVfLzlMPzMKkTakq2lluZ">
        <p><label for="id_email">メールアドレス:</label> <input type="email" name="email" pattern=".+@st.kyoto-u.ac.jp" placeholder="@st.kyoto-u.ac.jp" required="required" class="input-gray" id="id_email"></p>
      <p>パスワードリセット用のメールを送信します</p>  
      <form method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        
        <div class='mt-3'>
          <button class='btn btn-outline-primary' type='submit'>送信</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
