{% extends "dream/base.html" %}
{% block content %}
<body>
<h1>利用規約</h1>
<div class="section">
    <h3>第1条: 利用規約の適用</h3>
    <p>1.1. この利用規約は、ユーザーが本アプリケーション（以下、"アプリ"と称します）を利用する際の条件を定めるものです。アプリを利用するユーザー（以下、"ユーザー"と称します）は、本規約に同意する必要があります。本規約に同意しない場合、ユーザーはアプリを利用することができません。</p>
</div>
<div class="section">
    <h3>第2条: 利用規約の変更</h3>
    <p>2.1. サービス提供事業者は、ユーザーに通知することなく、本規約を変更できるものとします。利用規約が変更された場合、ユーザーは、アプリを利用するに当たり、変更後の本規約に従うものとします。</p>
</div>
<div class="section">
    <h3>第3条: ユーザー名およびパスワードの管理</h3>
    <p>3.1. ユーザーは、アプリ利用に際して登録したユーザー名およびパスワードについて、不正に利用されないよう厳重に管理するものとします。</p>
    <p>3.2. サービス提供事業者は、ユーザー名およびパスワードを利用して行われた一切の行為について、当該ユーザー名およびパスワードに紐づくユーザー自身の行為とみなすことができます。</p>
</div>
<div class="section">
    <h3>第4条: サービスの提供</h3>
    <p>4.1. サービス提供事業者は、アプリ及びアプリを通じて提供されるサービスについて、正確性、完全性、有効性、信頼性、安全性、適法性、特定の目的への適合性を含む、事実上又は法律上の一切の不具合がないことにつき、明示的にも黙示的にも保証しません。セキュリティ等への欠陥、エラー、バグがないことについても保証しません。</p>
</div>
<div class="section">
    <h3>第5条: アカウントの管理</h3>
    <p>5.1. ユーザーは、卒業などにより、KUMOIアドレスが無効になった場合、サービス提供事業者に通知する必要があります。</p>
</div>
<div class="section">
    <h3>第6条: 違反行為と制裁</h3>
    <p>6.1. ユーザーは、このサイトを利用した、カルト宗教、闇バイト、特殊詐欺への勧誘といった、不正行為、不当行為を行わないとします。 </p>
    <p>6.2. ユーザーが利用規約に違反した場合、サービス提供事業者はそのユーザーのアカウント停止またはサービスの利用停止を行うことを可能とします。当サイトでユーザ同士のトラブルが発生してもサービス提供事業者は責任を負わないとします。</p>
</div>
<div class="section">
    <h3>第7条: ログイン情報の管理</h3>
    <p>7.1. ユーザーは、自己の責任において、本サービスのログイン情報を適切に管理するものとします。</p>
    <p>7.2. ユーザーは、いかなる場合にも、ログイン情報を第三者に譲渡または貸与し、もしくは第三者と共用することはできません。</p>
</div>
<div class="section">
    <h3>第8条: サービスの中止または終了</h3>
    <p>8.1. サービス提供事業者は、ユーザの承諾を得ることなく、サービスを一時中止したり、終了できるものとします。また、そのような場合には、一週間以上前から、当サイトでその旨を通知することとし、サービスの中止、変更、終了に関してユーザに迷惑をかけたとしても、サービス提供事業者はユーザに対して一切の責任を負わないとします。</p>
</div>
<div class="section">
    <h3>第9条: 著作権</h3>
    <p>9.1. ユーザーが投稿したコンテンツの著作権はユーザー自身に残ります。事業者は著作権を主張しません。</p>
    <p>9.2. ユーザーが投稿したコンテンツに著作権侵害があった場合、ユーザーはその損害賠償責任を負うものとします。著作権侵害に関する一切の法的責任はユーザーに帰属します。</p>
</div>
<div class="section">
    <h3>第10条: コンテンツの消失に関する責任の免除</h3>
    <p>10.1. 投稿したコンテンツが事業者の管理下で消失した場合、事業者はユーザーに対して一切の賠償責任を負いません。ユーザーは定期的にバックアップを取得し、コンテンツの保存を自己責任で行うことが推奨されます。</p>
</div>
<div class="section">
    <h3>第11条: トラブルに関する責任免除</h3>
    <p>11.1. 当サイトでユーザ同士のトラブルが発生した場合、サービス提供事業者はその解決に関して一切の責任を負いません。ユーザー同士のトラブルについては、ユーザー自身が責任をもって解決するものとし、サービス提供事業者に一切の責任を追求しないこととします。</p>
    <p>11.2. サービス提供事業者は、ログイン情報が第三者によって使用されたことによって生じた損害につき、サービス提供事業者に故意又は重大な過失がある場合を除き、一切の責任を負いません。</p>
</div>
<div class="section">
    <h3>第12条: 有効期間</h3>
    <p>12.1. この利用規約はユーザーがサービスを利用し続ける限り有効であり、ユーザーがサービスを利用しない場合でも、過去の利用に関する規定は有効です。事業者は利用規約を変更する権利を留保し、変更が行われた場合、ユーザーに通知する義務を負います。</p>
</div>
<div class="section">
    <h3>第13条: 最終更新日</h3>
    <p>13.1. この利用規約は最終更新日に基づいています。最終更新日は下記の通りです。
        [最終更新日: 2023年10月7日]
    </p>
</div>
<div class="section contact-info">
    <h3>お問い合わせ</h3>
    <p>利用規約に関するご質問やお問い合わせは、下記の連絡先までお願いいたします.</p>
    <p>[事業者の連絡先情報]<br>kubbkyoto@gmail.com</p>
</div>

以上が本サービスの利用規約となります。ユーザーは本規約に同意した上でサービスをご利用ください。
</body>
<style>
    body {
        font-family: Arial, sans-serif;
        text-align: left;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f4f4f4;
    }
    h1 {
        text-align: center;
    }
    .section {
        background-color: #808080;
        padding: 20px;
        border: 1px solid #ccc;
        margin: 10px 0;
    }
    .section h3 {
        margin-top: 0;
    }
    .section p {
        line-height: 1.6;
    }
    .contact-info {
        margin-top: 20px;
    }
</style>
{% endblock %}