<style>
    .flashMessages {
        margin-bottom: 20px;
    }
    
    .flashMessage {
        background-color: #f2f2f2;
        padding: 10px;
        border: 1px solid #ddd;
        margin-bottom: 10px;
    }
    
    h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    table {
        width: 70%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    .linkButton, .deleteButton {
        display: inline-block;
        padding: 5px 10px;
        background-color: #007BFF;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    
    .linkButton:hover, .deleteButton:hover {
        background-color: #0056b3;
    }
.center-content h3 {
text-decoration: underline;
}
.center-content h1 {
text-align: left;
}
.delete_button {
float: right;
}
table h1 {
text-align: left;
margin-bottom: 10px; /* テキストとテーブルの間に余白を追加 */
}
</style>