body {
    padding: 10px;
    background-color: antiquewhite;
}
table {
    border-collapse: collapse;
    table-layout: auto;
    width: 600px;
    height: 100px;
    text-align: center;
    font-size: 18px;
}
table th {
    background-color: black;
    color: white;
    border: solid 1px black;
}
 table td {
    border: solid 1px black;
}
.entry {
    border-radius: 5px;
    background-color: darkblue;
    padding: 5px;
    text-decoration: none;
    color: white;
}
.button {
    border-radius: 5px;
    background-color: lightblue;
    padding: 5px;
    text-decoration: none;
    color: black;
}
.flashMessage{
    background-color: lightblue;
    width: 50vw;
    font-size: 24;
}
.map {
    width: 50vw;
}
.delete_button {
    border-radius: 5px;
    background-color: red;
    padding: 5px;
    text-decoration: none;
    color: white;
}
/* styles.css */
.bg-info {
    background-color: lightblue;
}

.message-container {
    max-width: 80%;
    margin: 0 auto;
}

.message {
    padding: 8px;
    margin: 4px 0;
    border-radius: 4px;
}

.message.sent {
    background-color: #28a745;
    color: white;
    text-align: right;
}

.message.received {
    background-color: #f8f9fa;
    text-align: left;
}
.chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.chat-messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    margin-bottom: 10px;
}

.username {
    font-weight: bold;
}

.chat-input input, .chat-input button {
    padding: 5px 10px;
    margin-right: 10px;
}

#message {
    width: 60%;
}

#send-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.center-content {
    text-align: center; /* テキストを中央揃えにする */
    margin: 0 auto; /* 左右の余白を自動で設定して中央に配置する */
    max-width: 400px; /* 必要に応じて最大幅を指定 */
  }
  