<p><label data-v-27f851c8 for="password" class="label">ニックネーム</label>
    <input data-v-27f851c8 id="password" name="username" type="username"  required="required" class="input-gray"> 
    <!-- {{ form.username }} -->
    </p>
    <p>
    <label data-v-27f851c8 for="kumoi-email" class="label">メールアドレス</label>
    <input data-v-27f851c8 id="kumoi-email" name="email" type="email" pattern=".+@st.kyoto-u.ac.jp" placeholder="@st.kyoto-u.ac.jp" required="required" class="input-gray">
    <!-- {{ form.email }} -->
    </p>
    <p>
    <label data-v-27f851c8 for="password" class="label">パスワード</label>
    <input data-v-27f851c8 id="password" name="password" type="password" minlength="8" required="required" class="input-gray">
    <!-- {{ form.password }} -->
    </p>